.ce-block--selected .ce-block__content,
.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-toolbar__plus:hover {
  background: theme('colors.background');
  color: inherit;
  color: theme('colors.primary.DEFAULT');
}


.cdx-button, 
.cdx-attaches__button {
  color: white !important;
}
.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
  color: inherit;
}

.ce-popover__item-icon,
.ce-conversion-tool__icon {
  background-color: theme('colors.background');
  box-shadow: none;
}

.cdx-search-field {
  border-color: theme('colors.background');
  background: theme('colors.background');
  color: inherit;
}

::selection {
  background: theme('colors.background');
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover__item:hover,
.ce-conversion-tool:hover,
.ce-toolbar__settings-btn:hover {
  background-color: theme('colors.white');
  color: theme('colors.background');
}

.cdx-notify--error {
  background: theme('colors.danger.DEFAULT') !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
  background: white;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}